{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_1.css' %}">

    <title>Le beau CV numero UNO de Don Jean Gilbiere</title>
</head>
<body>
    <div class="container">
        <h1>Le beau CV numero UNO de Don Jean Gilbiere</h1>
    </div>
        <div class="cv-container">
            <div class="left-column">
                <h1>Ma colonne de gauche comme Macron</h1>
            </div>
            <div class="right-column">
                <h1>Mes diplomes</h1>
                <h1>Mes compétences</h1>
                <div class="header">
                <h1> Mon header, le plus beau de tous les header</h1>
                </div>
                <div class="content">
                
                </div>
            </div>
        </div>
    
</body>
</html>