{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style_1.css' %}">

    <title>Le beau CV numéro DOS de Don Jean Gilbiere</title>
</head>
<body>
    <div class="container">
        <h1>Le beau CV numéro DOS de Don Jean Gilbiere</h1>
    </div>

</body>
</html>