@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

html, body {
    height: 100%;
    margin: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    font-size: 2rem;
    color: rgb(201, 42, 193);
    background-color: rgba(0, 0, 0, .5);
}